html {
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.marginAuto {
    margin: 0 auto;
}

.utils--relative {
    position: relative;
}

.utils--flex {
    display: flex;
}

.utils--fullWidth {
    width: 100%;
}

.textCenter {
    text-align: center;
}

.utils--center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.utils--flex-inline {
    display: inline-flex;
}